<ion-view title="contack us" id="page5">
  <ion-content padding="true" class="has-header">
    <ion-list id="contackUs-list5">
      <ion-item class="item-icon-left" id="contackUs-list-item8" href="tel:01110881672">
        <i class="icon ion-ios-telephone"></i>01110881672</ion-item>
      <ion-item class="item-icon-left" id="contackUs-list-item9" href="mailto:mohdzaidishafie@gmail.com">
        <i class="icon ion-email"></i>mohdzaidishafie@gmail.com</ion-item>
      <ion-item class="item-icon-left" id="contackUs-list-item11" href-inappbrowser="http://www.youtube.com">
        <i class="icon ion-android-globe"></i>www.youtube.com</ion-item>
    </ion-list>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3966.2101424839025!2d100.32198421401591!3d6.236008295485972!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x304b5e968f35114f%3A0xacbf8cc5b4221adc!2sAl+Faiz+Holdings+Sdn+Bhd!5e0!3m2!1sen!2smy!4v1558755150934!5m2!1sen!2smy"
      width="100%" height="450" frameborder="0" style="border:0" allowfullscreen=""></iframe>
    <a ui-sref="mobileAppTraining()" id="contackUs-button17" class="button button-positive button-block">home</a>
  </ion-content>
</ion-view>