<ion-view title="mobile app training" id="page1">
  <ion-content padding="false" class="has-header">
    <div>
      <img src="img/5nCYcwTTU2E1CcsDC0gh_how-to-use-mobile-apps-for-training.webp" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <ion-list id="mobileAppTraining-list1">
      <ion-item class="item-icon-left" id="mobileAppTraining-list-item3">
        <i class="icon ion-android-walk"></i>operating system</ion-item>
      <ion-item class="item-thumbnail-left" id="mobileAppTraining-list-item1" ui-sref="androidPage()">
        <img src="img/AVhDvgGwTwuyZ7g0wKkb_android-01-01-01.jpg">
        <h2>android</h2>
        <p>whateva</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="mobileAppTraining-list-item2" ui-sref="androidPage2()">
        <img src="img/acULKwuLTEGpFgsNfldU_apple_logo.jpg">
        <h2>android 2</h2>
        <p>whateva 2</p>
      </ion-item>
    </ion-list>
    <a ui-sref="androidPage()" id="mobileAppTraining-button7" class="button button-positive button-block">next</a>
    <a ui-sref="contackUs()" id="mobileAppTraining-button16" class="button button-positive button-block">contack us</a>
  </ion-content>
</ion-view>